.idea/
.DS_Store
node_modules/
dist/
public/
**/*debug.log

.entry
.dist
.vscode

packages/*/**/*.js
packages/*/**/*.js.map
!packages/*/**/jest.config.js
!packages/__template/**/*.js
!/packages/__template/index.js
coverage/
**/etc/

es6/
